**/obj
**/bin
**/.vs
**/*.user
/EaArtifactTool/packages
/EaArtifactTool/.vs
/BehaviorDevelop/packages
/BehaviorDevelop/.vs
/EaArtifactTool/UpgradeLog.htm
/EaArtifactTool/EaArtifactToolSetup2022/Debug
/EaArtifactTool/EaArtifactToolSetup2022/Release
/EaArtifactTool/UpgradeLog2.htm
/EaArtifactTool/UpgradeLog3.htm
