<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="artifact_dir" value="C:/DesignHistory/ea-artifacts_/unify_asweadb/20171101" />
		<add key="artifacts_file" value="All_Artifacts.xml" />
		<add key="connectors_file" value="AllConnectorList.xml" />
		<add key="elements_file" value="ElemList_all.xml" />
 	</appSettings>
</configuration>
